/HTML/Exemplo de Terceiros
/venv
.replit
poetry.lock
pyproject.toml
replit.nix
/.vscode
/.local
/Java/Fiasco/Naruto/target/
/Java/4º Semestre - Engenharia de Software III/exercicios/target/
/Java/Fiasco/Naruto/.idea/
/Java/.idea
/Java/4º Semestre - Programação Orientada a Objetos/Primeiro/target